@import "tailwindcss";

@plugin "@iconify/tailwind4";

@theme {
  --font-sans: "Noto Sans JP Variable", sans-serif;
  --font-sans--font-feature-settings: "palt";

  --animate-shake: shake 0.1s linear infinite;

  @keyframes shake {
    0% {
      transform: translate(1px, 1px);
    }
    25% {
      transform: translate(-1px, -1px);
    }
    50% {
      transform: translate(-1px, 1px);
    }
    75% {
      transform: translate(1px, -1px);
    }
    100% {
      transform: translate(1px, 1px);
    }
  }
}
