@import "tailwindcss";

@plugin "@iconify/tailwind4";

@theme {
  --font-sans: "Noto Sans JP Variable", sans-serif;
  --font-sans--font-feature-settings: "palt";
  --animate-vibrate: vibrate 0.1s infinite;

  @keyframes vibrate {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-1px, 1px);
    }
    40% {
      transform: translate(-1px, -1px);
    }
    60% {
      transform: translate(1px, 1px);
    }
    80% {
      transform: translate(1px, -1px);
    }
    100% {
      transform: translate(0);
    }
  }
}
